$green: #1dde85



.main
  max-width: 1600px
  width: 100%
  margin: auto
  font-size: 14px
  .menu
    display: flex
    background: #1a1a1a
    justify-content: space-around
    align-items: center
    border-bottom: 1px solid #555456
    .logo
      width: 137px
      height: 36px
    .top-menu
      display: flex
      padding: 55px 0 35px
      width: 482px
      height: 27px
      justify-content: space-between
      li:hover
        border-bottom: 1px solid $green
      li
        a
          text-transform: uppercase
          color: #FFFFFF
          text-decoration: none
          display: block
          padding-bottom: 14px
        a:hover
          color: $green







