@font-face
  font-family: HelveticaRegular
  src: url("../fonts/HelveticaRegular.ttf")

body
  font-family: HelveticaRegular


  @import "accountant-services"
  @import "consultation"
  @import "economics-expertize"
  @import "index"